{% extends 'login_base.html' %}
{% load crispy_forms_tags %}
{% block login %}

    <div class="unix-login">
        <div class="login-form">
            <h4>Reset Password</h4>
            <form  method="post">
                {% csrf_token %}
                <input  type="hidden"  name="next"  value="{{ next }}">
                {{ form }}
                <button type="submit" class="btn btn-primary btn-flat m-b-15">Submit</button>
                <div class="register-link text-center">
                    <p><a class="link" href={{ '/login/' }}>Back to Log in Page</a></p>
                </div>

            </form>

        </div>
    </div>




{% endblock %}