{% extends 'login_base.html' %}
{% load crispy_forms_tags %}
{% block login %}

    <div class="unix-login">
        <div class="login-form">
            <h4>Reset Password</h4>
            <div class="alert alert-info">
                Your Password Has been changed. Login to your Account
            </div>
            <div class="register-link text-center">
                <p><a class="link" href={{ '/login/' }}>Back to Log in Page</a></p>
            </div>

        </div>
    </div>




{% endblock %}